body{
    padding: 20px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(76, 76, 195));
}
.logo{
    margin: 20px;
    /* display: block; */
    /* margin: auto; */
}
.logo img{
    width: 50px;
    height: 50px;
    margin: auto ;
    display: block;
}

.container{
    position: relative;
    margin: auto;
    max-width: 950px;
    /* background-color: red; */
    height: 60vh;
    border: 2px solid black;
    border-radius: 5px;
    overflow-y:scroll;
}

.container::-webkit-scrollbar {
    width: 0px; /* Adjust the width as needed */
  }

.message{
    background: grey;
    max-width: 24%;
    min-width: 3%;
    margin: 10px 15px;
    padding: 9px;
    border: 1px solid #636262;
    border-radius: 5px;
}

.right{
    float: right;
    clear: both;
}
.left{
    float: left;
    clear: both;
}

.footer{
    max-width: 950px;
    box-sizing: border-box;
    clear: both;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 4px;
}
#form-input{
    width: 100%;
    display: flex;
}

#messageInp{
    font-size: 17px;
    box-sizing: border-box;
    width: 92%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
    margin-left: 11px;
}

.btn{
    font-size: 17px;
    box-sizing: border-box;
    width: 7%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffeeee;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: rgb(20, 17, 99);
    cursor: pointer;
} 

